body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#task-section {
    margin: 20px auto;
}

#task-form {
    max-width: 70%; 
    display: flex;
    margin-bottom: 10px;
    margin: 0px auto; 

    text-align: center; 
}

#task-input {
    flex: 1;
    padding: 8px;
}
.task-input {
    padding: 8px; 
    margin-left: 10px; 
    margin-right: 10px; 

    flex: 1; 
}

button {
    margin-left: 10px; 
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

/* taks list  */
.task-item {
    display: flex;
    flex-direction: column;
    margin: 2px 10%; 

    border-bottom: 2px solid #b8bbbc; 
    padding: 10px;

}

.task-title {
    flex: 1;
    padding: 10px;
}

.task-detail {
    background-color: #e0e0e0;
    padding: 2px;
}

.hbox {
    display: flex;
    text-align: center; 
    margin-left: 10px; 
}

.hbox-item {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px; 

    text-align: center; 

    min-width: 5%; 
    max-width: 20%;
}
